:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--color-white);
}

.link {
  text-decoration: none;
}

.list {
  text-decoration: none;
}

/* .social-links .link:hover,   HOVER-rule 
.social-links .link:focus { */

/*color:var(--primary-text-color)*/
/*color:var(--title-text-color)*/

/* colors - index.html */
/* #2E2F42 - NAVY BLUE - general color of the page */
/* #434455 - SLATE */
/* #FFFFFF - WHITE */
/* #F4F4FD - CLOUD */

/* colors - portfolio */
/* #4D5AE5 - IRIS */
/* #2E2F42 - NAVY BLUE */
/* #434455 - SLATE */
/* #F4F4FD - CLOUD */
/* #FFFFFF - WHITE ACTIVE BUTTON */

/* 

  crt + slash

  ctrl + D однотипні елементи

  ctrl + shift + p  - wrap 

  cssTRUCKTOR

  все що в таких душка (це-) */

/* Header - CSS */

.header {
}
.header-navigation {
}

.header-logo {
  color: var(--color-iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.17;
  text-transform: uppercase;
}

.header-logo-text {
  color: var(--color-iris);
}

.logo-text {
  color: var(--color-grey);
}

.header-menu-list {
}

.header-menu-item {
}

.header-menu-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-navy-blue);
}

/* ADRESS */

address {
  font-style: normal;
}

.header-adress {
}

.header-adress-menu {
}

.header-adress-list {
}

.header-adress-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-slate);
}
